*{
margin: 0;
padding: 0;
box-sizing: border-box;

}


.blender{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    /*background-color: red;*/
    background-image: url("/img/licuadoraApagada.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    
   

}
.blender.active{
    background-image: url("/img/licuadoraEncendida.gif");
}

.blender-button{
    margin: 350px auto 0px;
    width: 50px;
    height: 40px;
    
    
}

.ventana{
    background-color: blue;
    width: 50%;
    
}


.mensaje{
    background-color: blueviolet;
    height: 25px;
    width: 95px;
    position: fixed;
    left: 25%;
    top: 50%;
    border-radius: 20%;
    box-shadow: 5px 5px 5px black;
    
}
@media  (max-width:640px){
    .mensaje{
        margin-top:  230px ;
               
    }


}
